{{- $u := urls.Parse .Destination -}}
{{- $url := $u.String -}}
{{- $imgResource := .Page.Scratch.Get "typoNilVariable" -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}
  {{- $imgResource = .Page.Resources.Get $path -}}
  {{- with $imgResource -}}
    {{- $url = .RelPermalink -}}
  {{- end -}}
{{- end -}}

<figure>
    <img loading="lazy" alt="{{ .Text }}" src="{{ $url }}" {{ with $imgResource }}width="{{ .Width }}" height="{{ .Height }}"{{ end }}>
    {{ with .Title }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
</figure>